* {
  font-family: Arial, Helvetica, sans-serif;
}
.profile {
  &-header {
    background-color: #9d8b63;
    height: 200px;
  }
  &-avata {
    width: 55%;
    object-fit: cover;
    border-radius: 50%;
  }
  &-hero {
    background-color: white;
    height: 250px;
    margin: 0 auto !important;
    transform: translateY(100px);
    width: 90% !important;
    align-items: center;
  }
  &-avata-content {
    text-align: justify !important;
    &-desc {
      border-top: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd;
      & p {
        margin: 30px 0;
      }
    }
  }
  &-content {
    height: 1200px;
  }
  &-side {
    background-color: #3d4859;

    &-content {
      color: white;
      width: 80%;
      margin-left: auto;
      transform: translateY(200px);
    }
    &-line {
      margin: 50px 0;
      background-color: #9d8b63;
      height: 5px;
      width: 100%;
    }
    &-content h4 {
      letter-spacing: 3px;
    }
    &-content ul {
      list-style-type: none;
    }
    &-content ul li {
      margin-top: 50px;
      display: flex;
      & div {
        margin-left: 20px;
        & a {
          text-decoration: none;
          color: white;
          &:hover {
            color: red;
          }
        }
      }
    }
  }
  &-right {
    &-content {
      width: 95%;
      margin-left: auto;
      transform: translateY(200px);
      color: #3d4859;
      & h3 {
        font-weight: bold;
        letter-spacing: 5px;
        margin-bottom: 50px;
      }
    }
  }
  &-working {
    display: flex;
  }
  &-year {
    padding: 15px 10px;
    background-color: #3d4859;
    color: white;
    font-weight: bold;
    margin-right: 10px;
  }
  &-place {
    font-weight: bold;
    color: #9d8b63;
    & small {
      color: #878689;
      font-style: italic;
    }
  }
  &-desc {
    margin-top: 30px;
    & ul {
      list-style-type: "-  ";
      & li {
        margin-bottom: 20px;
      }
    }
  }
}
.icon-bootstrap {
  flex-shrink: 0;
}
